<div width="40%">
<% @ramallah_photos.each do |photo| %>
	<img src="<%= photo %>" width="300">
<% end %>
</div>

<br>
<BR>
<div width="40%" id="tel">
<% @tel_aviv_photos.each do |photo| %>
	<img src="<%= photo %>" width="300">
<% end %>
</div>