<div width="40%">
<% @israel_photos.each do |photo| %>
	<img src="<%= photo %>" width="300">
<% end %>
</div>

<br>
<BR>
<div width="40%">
<% @palestine_photos.each do |photo| %>
	<img src="<%= photo %>" width="300">
<% end %>
</div>