
<!DOCTYPE html><html class=''>
<head><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="canonical" href="http://codepen.io/dimsemenov/pen/MYexrm" />

<link rel='stylesheet prefetch' href='http://photoswipe.s3.amazonaws.com/pswp/dist/photoswipe.css'><link rel='stylesheet prefetch' href='http://photoswipe.s3.amazonaws.com/pswp/dist/default-skin/default-skin.css'>
<style class="cp-pen-styles">.hello-slide {
  width: 100%;
  max-width: 400px;
  color: #FFF;
  margin: 120px auto 0;
  text-align: center;
  
  font-family: "Helvetica Neue", Arial, sans-serif;
  
}
h1 {
  font-weight: normal;
}
.hello-slide a {
  color: #B5AEF7 !important;
}
</style></head><body>




<div class="row">
        	<div class="col-md-6">
	            <div class="col-lg-12">
	                <h1 class="page-header">Israeli</h1>
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://placehold.it/400x300" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	        </div>
	        <div class="col-md-6">
	        	            <div class="col-lg-12">
	                <h1 class="page-header">Palestinian</h1>
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://i.ytimg.com/vi/ey1RIodr53U/0.jpg" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://images.csmonitor.com/csm/2014/04/yhassan.jpg?alias=standard_600x400" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://www.bobmay.info/images/bestofyear/palestine_resting_man.JPG" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#" >
	                    <img class="img-responsive" src="http://972mag.com/wp-content/uploads/2013/12/wajdi.jpg" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img id = "btn" class="img-responsive" src="http://richards10.wpengine.netdna-cdn.com/wp-content/uploads/2012/08/israeli-palestinian-boys.jpg" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="https://lh3.googleusercontent.com/-xEI0ruD-AK8/VLjbn79EOQI/AAAAAAAAEdE/CpYLnZ3YIFk/s630-fcrop64=1,000041c6ffffadc6/c31e526e-7c22-4be0-aacd-9006b3ce20fb" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="https://bossip.files.wordpress.com/2014/06/screen-shot-2014-06-12-at-7-02-13-am.png" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://www.altro.co.il/uploads/org_391/Image/1907978_611706598904117_963676998_n.jpg" alt="" style="width:400px; height:300px"> 
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="https://thefreedomtheatre.files.wordpress.com/2012/06/22661_100296500004524_7961354_n.jpg" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/8/85/Palestinian_man.jpg" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://travelwithkat.com/wp-content/uploads/2013/04/Abu-Rafat-Odeh-Qadi1.jpg" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	                <a class="thumbnail" href="#">
	                    <img class="img-responsive" src="http://www.dw.com/image/0,,18592806_303,00.jpg" alt="" style="width:400px; height:300px">
	                </a>
	            </div>
	        </div>
        </div>




<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item" style="text-align:center;"></div>
            <div class="pswp__item" style="text-align:center;"></div>
            <div class="pswp__item" style="text-align:center;"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>
<script src='//assets.codepen.io/assets/common/stopExecutionOnTimeout.js?t=1'></script><script src='http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe.min.js'></script><script src='http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe-ui-default.min.js'></script>
<script>
var openPhotoSwipe = function () {
    var pswpElement = document.querySelectorAll('.pswp')[0];
    var items = [
        { html: '<iframe width="600" height="500" src="https://www.youtube.com/embed/RVNltfnqBQ0" frameborder="0" allowfullscreen style="margin-top:10%;"></iframe>' },
        {
            html: '<iframe width="600" height="500" src="https://www.youtube.com/embed/ly809mKsQsE" frameborder="0" allowfullscreen style="margin-top:10%;"></iframe>'
        }
    ];
    var options = {
        history: false,
        focus: false,
        showAnimationDuration: 0,
        hideAnimationDuration: 0
    };
    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();
};
document.getElementById('btn').onclick = openPhotoSwipe;
//@ sourceURL=pen.js
</script>
<script src='//codepen.io/assets/editor/live/css_live_reload_init.js'></script>
</body></html>