
<link rel="stylesheet prefetch" href="http://photoswipe.s3.amazonaws.com/pswp/dist/photoswipe.css"><link rel="stylesheet prefetch" href="http://photoswipe.s3.amazonaws.com/pswp/dist/default-skin/default-skin.css">
<div class="container" style="text-align:center">
<div style="width:40%;position:relative;display: inline-block;text-align: left;margin-top:50px">
    <h2>#IsraeliMusic</h2>
      <div>

    <% Music.where(nationality: "Israel").each do |music| %>
		<%= music.content.html_safe %>
	<% end %>
	</div>

</div>
<div style="width:40%;position:relative;display: inline-block;text-align: left;">

    <h2>#ArabicMusic</h2>

      <div>

	    <% Music.where(nationality: "Palestine").each do |music| %>
			<%= music.content.html_safe %>
		<% end %>

      </div>

      </div>

    </div>